{% extends "master.html" %}
{% load static %}

{% block title %}

  My Tennis Club - List of all members
{% endblock %}

{% block content %}
<h1>Members</h1>
  
<ul>
  {% for x in mymembers %}
    <li> <span><img src="{%static 'imgs/49.png'%}" alt=""></span>{{ x.firstname }} {{ x.lastname }} <a href="details/{{ x.id }}">view</a></li>
  {% endfor %}
</ul>





<!-- 
<h1>render.com/ dashboard/ new/ webservice/  gunicorn projectname.wsgi:application PYTHON_VERSION  pip freeze > requirements.txt </h1> -->
<!-- <h1>from django.contrib.staticfiles.urls import staticfiles_urlpatterns////urlpatterns += staticfiles_urlpatterns()</h1> -->
<!-- <h1>pip install gunicorn</h1> -->


{% endblock %}

