<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>chat</title>
    <style>
        body{
            display: inline-block;
            align-items: center;
            text-align: center;
            background-color: rgb(214, 226, 43);
            color: aliceblue;
            text-align: center;
            border: 2px solid black;
            justify-content: center;
            padding: 50px;
            margin:  20px 400px;
            width: 300px;
        }
    </style>
</head>
<body>
    <h1>type your message here</h1>
</body>
</html>