{% extends "master.html" %}
{% load static %}

{% block title %}
  My Tennis Club - List of all members
{% endblock %}



{% block content %}
    <div class="box">
        <img src="{%static 'imgs/49.png'%}" alt="">
            <div>
                <h1>{{ mymember.firstname }} {{ mymember.lastname }}</h1>
                
                <p>Phone: {{ mymember.phone }}</p>
                <p>Member since: {{ mymember.joined_date }}</p>

                <p>Back to <a href="/members">Members</a></p>

                <br>  
             </div>
  
    </div>
{% endblock %}